html {
   --top-spacing: 100px;
   scroll-padding-top: var(--top-spacing);
   height: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
}
a {
   display: inline-block;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   box-sizing: border-box;
   // font-family: "Raleway", sans-serif;
   font-family: "Ruslan Display", cursive;

   font-size: 44px;
   line-height: 1;
   font-weight: 400;
   background-color: #6c6c6e;
   color: #141113;
   margin: 0;
   padding: 0;
   height: 100%;
}

body._lock {
   overflow: hidden;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}
.title {
   font-family: "Russo One", sans-serif;
   line-height: 1;
}
