@media (min-width: 1230px) {
   .inner {
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      justify-content: center;
      align-items: center;
   }
}
@media (max-width: 1230px) {
   .inner__title {
      font-size: 56px;
   }
   .inner__right {
      width: 500px;
      margin-left: -130px;
   }
   .inner__menu {
      margin-top: 20px;
      font-size: 24px;
   }
   .inner__subtitle {
      font-size: 24px;
   }
   .btn {
      margin-top: 40px;
      max-width: 100%;
      padding: 0px 20px;
      font-size: 32px;
   }
}
@media (max-width: 1050px) {
   .inner {
      height: auto;
      flex-direction: column;
      align-items: center;
   }
   .inner__img {
      transform: none;
   }
   .inner__right {
      width: 500px;
      margin-left: 0;
   }
   .inner__title {
      margin-top: 0;
   }
}
@media (max-width: 950px) {
   .inner__left {
      width: 100%;
      height: 650px;
   }
   .inner__img {
   }
   .btn {
      width: 430px;
      font-size: 29px;
   }
   .container {
      padding: 0;
   }
}
@media (max-width: 520px) {
   .inner__left {
      width: 420px;
      height: 565px;
   }
   .btn {
      width: 430px;
      font-size: 29px;
   }
   .container {
      padding: 0 10px;
   }
   .inner__subtitle {
      font-size: 20px;
   }
   .inner__right {
      width: 350px;
   }
   .inner__title {
      font-size: 44px;
   }
   .inner__menu {
      font-size: 20px;
   }
   .inner__menu li {
      margin-bottom: 13px;
   }
   .inner__menu li img {
      margin-right: 10px;
   }
   .btn {
      font-size: 24px;
      height: 80px;
   }
   .icons {
      margin-top: 25px;
   }
   .inner__menu li img {
      width: 30px;
   }
   .icon {
      width: 55px;
   }
}
@media (max-width: 460px) {
   .inner__left {
      width: 390px;
      height: 520px;
   }
}
@media (max-width: 430px) {
   .inner__left {
      width: 360px;
      height: 485px;
   }
   .btn {
      font-size: 20px;
      height: 65px;
      max-width: none;
      width: 325px;
   }
}
@media (max-width: 430px) {
   .inner__left {
      width: 335px;
      height: 450px;
   }
   .inner__right {
      width: 335px;
   }
}
